.click-zoom {
    text-align: center;
}

.click-zoom input[type=checkbox] {
    z-index: 0;
    display: none
}

.click-zoom img {
    transition: transform 0.25s ease;
    z-index: 0;
    cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
    transform: scale(2.3);
    z-index: 0;
    cursor: zoom-out
}